.PhotoAblum{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	
	
}
.photollist {
	width: 170px;
	height: 138px;
	margin:20px 5px ;
	padding-top: 30px;
	border: 10px double #000000;
	border-radius: 10%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .photollist img {
	  width: 170px;
	  position: relative;
	  margin-top: -30px;
  }
  .photollist p {
	margin: 0;
  }
 h3{
	 position: absolute;
	 border-radius: 90% 6% 93% 5% / 5% 94% 7% 95%;
	 border: 2px solid rgb(0, 0, 0);
	 padding: 0px 5px;
	 background-color: #fff;
 }